home/.cache
home/.config/Atlassian
home/.config/autorandr/log
home/.config/chromium/
home/.config/dconf
home/.config/discord
home/.config/openfortivpn
home/.config/openvpn
home/.config/openvpn/creds
home/.config/openvpn/key
home/.config/pavucontrol.ini
home/.config/pulse
home/.config/QtProject.conf
home/.config/Slack
home/.config/Trolltech.conf
home/.gnupg
home/.local/share/recently-used.xbel
home/.npm/anonymous-cli-metrics.json
home/.npm/anonymous-cli-metrics.json
home/.npm/_cacache
home/.ssh/known_hosts
home/.viminfo
home/.vim/.netrwhist
home/.yarn/bin/*
home/.zsh_history
id_rsa
id_rsa.pub
**/*.log
**/*.log.old
**/node_modules
**/__pycache__
**/.VimballRecord
home/.config/litecli/history
home/.config/litecli/log
